In [1]:
import pandas as pd
import os
import sys

In [2]:
class path_error(Exception):
    pass

In [3]:
project_path = os.path.dirname(os.path.realpath('__file__'))
input_path = project_path + '\\input'
processed_path = project_path + '\\processed'
output_path = project_path + '\\output'

if not os.path.exists(input_path):
        raise path_error('\n"{}"  doesn\'t exist \nPlease, check its existence with all input data'.format(input_path))
        
costs_path = input_path + '\\Costs.csv'
orders_path = input_path + '\\Orders.csv'
relations_path = input_path + '\\Relations.csv'
users_path = input_path + '\\Users.csv'
visits_path = input_path + '\\Visits.csv'

file_paths = [
    costs_path, 
    orders_path,
    relations_path,
    users_path, 
    visits_path,
]

for file_name in file_paths:
    if not os.path.exists(file_name):
        raise path_error('\n"{}"  doesn\'t exist \nplease, check its existence with all input data'.format(file_name))

print('All files were successfully loaded!')

All files were successfully loaded!

In [4]:
Cost = pd.read_csv(costs_path)
Cost.__name = 'Costs'
Orders =  pd.read_csv(orders_path)
Orders.__name = 'Orders'
Relations =  pd.read_csv(relations_path)
Relations.__name = 'Relations'
Users =  pd.read_csv(users_path)
Users.__name = 'Users'
Visits = pd.read_csv(visits_path, nrows = 1000)
Visits.__name = 'Visits'

C:\Users\mchau\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data_frames = [
    Cost,
    Orders,
    Relations,
    Users,
    Visits
]

for data_frame in data_frames:
    print(data_frame.__name)
    display(data_frame.head())

Costs

       Costs id_partner campaign         date_created
0  15.701622        NaN  4147836  2018-01-05 00:00:00
1  17.163542        NaN  4157838  2018-01-05 00:00:00
2  17.408304        NaN  4164809  2018-01-05 00:00:00
3   0.000000          0  2008634  2017-09-01 00:00:00
4   0.000000          0  2008634  2017-09-02 00:00:00

Orders

   id_user           Order Date   Amount  Order ID
0  4618612  2017-08-17 02:08:40   2.6312  23732390
1  4618612  2017-08-17 02:29:26  17.5912  23732304
2  4618645  2017-06-01 04:39:41   8.7912  12441805
3  4618815  2017-06-01 02:11:01   2.6312  12439685
4  4618982  2017-10-04 03:43:24   8.7912  25568622

Relations

  chanel id_partner name
0      7          7   19
1      7          7   81
2      7          7  108
3      7          7  112
4      7          7  131

Users

        id    Reg_date id_partner                         name
0  6745955  2017-10-04     rt_DBM        ${INSERTION_ORDER_ID}
1  5159878  2017-07-01        DBM  %24%7BINSERTION_ORDER_ID%7D
2  5159881  2017-07-01        DBM  %24%7BINSERTION_ORDER_ID%7D
3  5159940  2017-07-01        DBM  %24%7BINSERTION_ORDER_ID%7D
4  5295496  2017-07-08        DBM  %24%7BINSERTION_ORDER_ID%7D

Visits

   id_user           Visit_date
0  6362904  2017-09-15 10:55:42
1  6362904  2017-09-18 07:35:11
2  7145363  2017-11-05 19:37:53
3  7270453  2017-11-15 17:06:20
4  7270453  2017-11-15 17:12:46

In [6]:
len(Users)

2524443

In [7]:
len(Users.id.unique())

2524443

In [8]:
for data_frame in data_frames:
    print(data_frame.__name)
    print(len(data_frame))
    print(len(data_frame.dropna()), '\n')

Costs
209535
209489

Orders
205692
205692

Relations
14192
14192

Users
2524443
2524443

Visits
1000
1000

In [9]:
for data_frame in data_frames:
    print(data_frame.__name)
    print(len(data_frame))
    print(len(data_frame.dropna(axis=0, how='any')))
    print(data_frame.info(), '\n')

Costs
209535
209489
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209535 entries, 0 to 209534
Data columns (total 4 columns):
Costs           209535 non-null float64
id_partner      209532 non-null object
campaign        209492 non-null object
date_created    209535 non-null object
dtypes: float64(1), object(3)
memory usage: 6.4+ MB
None

Orders
205692
205692
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205692 entries, 0 to 205691
Data columns (total 4 columns):
id_user       205692 non-null int64
Order Date    205692 non-null object
Amount        205692 non-null float64
Order ID      205692 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 6.3+ MB
None

Relations
14192
14192
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14192 entries, 0 to 14191
Data columns (total 3 columns):
chanel        14192 non-null object
id_partner    14192 non-null object
name          14192 non-null object
dtypes: object(3)
memory usage: 332.7+ KB
None

Users
2524443
2524443
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2524443 entries, 0 to 2524442
Data columns (total 4 columns):
id            int64
Reg_date      object
id_partner    object
name          object
dtypes: int64(1), object(3)
memory usage: 77.0+ MB
None

Visits
1000
1000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
id_user       1000 non-null int64
Visit_date    1000 non-null object
dtypes: int64(1), object(1)
memory usage: 15.7+ KB
None

In [10]:
print(len(Relations[Relations['chanel'] == Relations['id_partner']]))

5405

In [11]:
print(len(Users.id_partner.value_counts()))
print(len(Cost.id_partner.value_counts()))

246
290

# Task 1
## #1

In [12]:
campaign_cost = Cost.iloc[:, 0:3].groupby(['id_partner', 'campaign'], as_index=False).sum()
display(campaign_cost.sort_values('Costs', ascending=False))

,id_partner,campaign,Costs
6878,W4_mobile,107456,254041.000000
7437,email_partner1,820096,220870.500000
2596,9,20888,212413.000000
6073,VH USA,Adw_VH_Mob_GSP_Dating domains_2,167796.330000
6080,VH USA,Adw_VH_Mob_GSP_Key_Dating,137106.970000
4240,Matomy_mobile,Matomy_internal,136217.000000
6072,VH USA,Adw_VH_Mob_GSP_Dating domains,128338.830000
5522,VH Search,Adw_VH_Tier1_Mob_S_Key_Competitors Targeting,113018.090000
1840,14186,14186,107550.000000
7433,email_partner1,820003,106138.000000
2045,29,iDrive,105270.000000
6970,W4_non_adult_valid,107456,100414.000000
2566,8,8,96281.000000
5535,VH Search,Adw_VH_Tier1_Mob_S_Key_Dating_Site,94339.460000
4437,MundoMedia_non_adult_valid,CD39289,92134.000000
3099,DBM,3240637,88387.339587
7474,email_partner1,820212,86620.000000
3747,Matomy_mobile,542731,80206.000000
2815,CPAmatica_email_mobile,18102,79878.000000
4578,RT,Adw_RT_GDN_Interests_In-market,79767.440000
7438,email_partner1,820097,79000.000000
8204,tf_usa_desk,TF_VB_Desk_USA_Pop-under,78684.441305
2839,CPAmatica_email_mobile,19612,77823.000000
7456,email_partner1,820128,76850.000000
6079,VH USA,Adw_VH_Mob_GSP_Facebook,75110.270000
7101,bing,Bing_VH_Tier1_S_Key_Dating countries,70686.370000
5582,VH Search,Adw_VH_Tier1_S_Key_Dating_Site,69722.070000
6085,VH USA,Adw_VH_Mob_InApp_Android,66700.350000
7106,bing,Bing_VH_Tier1_S_Key_Russian,64891.240000
6074,VH USA,Adw_VH_Mob_GSP_Dating domains_2_RA,63509.630000
...,...,...,...
8607,vd_adsterra,14235488,0.000000
8605,vd_adsterra,14230633,0.000000
8524,vd_adsterra,12541512,0.000000
8176,tc_usa_desk,TC_VB_Desk_USA_POP_Social,0.000000
8181,tf_india_desk,TF_AC_Desk_India_Square_338x235,0.000000
8182,tf_india_desk,TF_RT_Desk_India_Square_338x235,0.000000
8183,tf_india_mob,TF_AC_Mob_India_Footer_928x244,0.000000
8184,tf_india_mob,TF_RT_Mob_India_Footer_928x244,0.000000
8191,tf_top1_desk,TF_VB_Desk_TOP1_Pop-under,0.000000
8199,tf_usa_desk,TF_QPID_Desk_USA_Footer_928x244,0.000000
8200,tf_usa_desk,TF_QPID_Desk_USA_Square_338x235,0.000000
8518,vd_adsterra,12274573,0.000000
8519,vd_adsterra,12472002,0.000000
8521,vd_adsterra,12475646,0.000000
8522,vd_adsterra,12475750,0.000000
8526,vd_adsterra,12542319,0.000000
8603,vd_adsterra,14229125,0.000000
8527,vd_adsterra,12544745,0.000000
8531,vd_adsterra,12785318,0.000000
8534,vd_adsterra,12941550,0.000000
8540,vd_adsterra,13336582,0.000000
8546,vd_adsterra,13922467,0.000000
8549,vd_adsterra,13923537,0.000000
8555,vd_adsterra,13946239,0.000000
8556,vd_adsterra,13946241,0.000000
8560,vd_adsterra,14033024,0.000000
8567,vd_adsterra,14142736,0.000000
8587,vd_adsterra,14220712,0.000000
8591,vd_adsterra,14221531,0.000000
4411,Mobytize,4150=,0.000000

In [54]:
order_date = 'Order Date'
df = pd.merge(Users, Orders, left_on = ['id'], right_on = ['id_user'])
df['Order Date'] = pd.to_datetime(df['Order Date']).dt.date
df['Reg_date'] = pd.to_datetime(df['Reg_date']).dt.date

In [90]:
df = df[df['Reg_date'] + pd.DateOffset(6) == df['Order Date']]

In [91]:
df

,id,Reg_date,id_partner,name,id_user,Order Date,Amount,Order ID
0,7254798,2017-11-14,tf_usa_desk,%7Bcampaign.id%7D,7254798,2017-11-14,8.7912,26101897
10,7149422,2017-11-06,W4_non_adult_valid,100084,7149422,2017-11-06,2.6312,25985130
180,5722908,2017-08-08,W4_mobile,100167,5722908,2017-08-08,2.6312,13663221
272,5869227,2017-08-16,W4_non_adult_not_valid,100167,5869227,2017-08-16,8.7912,13848884
278,7037742,2017-10-25,MaxBounty,100759_,7037742,2017-10-25,2.6312,25851415
316,7062742,2017-10-27,MaxBounty_mobile,100759_,7062742,2017-10-27,8.7912,25875216
317,7010225,2017-10-22,MaxBounty,100759_104,7010225,2017-10-22,2.6312,25815104
322,5920708,2017-08-20,W4_mobile,100787,5920708,2017-08-20,2.6312,13927475
369,5921477,2017-08-20,W4_mobile,100787,5921477,2017-08-20,2.6312,13913125
371,5923403,2017-08-20,W4_mobile,100787,5923403,2017-08-20,8.7912,13930305
372,5923403,2017-08-20,W4_mobile,100787,5923403,2017-08-20,17.5912,13930684
373,5924087,2017-08-20,W4_mobile,100787,5924087,2017-08-20,2.6312,13921217
421,6564030,2017-09-26,W4_mobile,100787,6564030,2017-09-26,2.6312,24132151
426,7071039,2017-10-28,13,1009,7071039,2017-10-28,2.6312,25879638
435,4890116,2017-06-18,Affiliaxe_mobile,100913,4890116,2017-06-18,8.7912,12748068
436,4890116,2017-06-18,Affiliaxe_mobile,100913,4890116,2017-06-18,17.5912,12748734
443,6136549,2017-09-01,W4_non_adult_not_valid,101132,6136549,2017-09-01,8.7912,14189433
451,6471754,2017-09-21,W4_mobile,101132,6471754,2017-09-21,2.6312,24061659
461,7334074,2017-11-20,W4_mobile,101275,7334074,2017-11-20,8.7912,26199175
463,7696560,2017-12-16,W4_mobile,101275,7696560,2017-12-16,2.6312,27564344
464,7696560,2017-12-16,W4_mobile,101275,7696560,2017-12-16,17.5912,27564033
516,5906529,2017-08-19,W4_mobile,101277,5906529,2017-08-19,2.6312,13900832
518,5935389,2017-08-20,W4_mobile,101277,5935389,2017-08-20,2.6312,13930660
524,5930713,2017-08-20,W4_non_adult_valid,101277,5930713,2017-08-20,2.6312,13927203
525,5930713,2017-08-20,W4_non_adult_valid,101277,5930713,2017-08-20,17.5912,13927326
584,5442164,2017-07-20,W4_mobile,101428,5442164,2017-07-20,8.7912,13348513
585,5442164,2017-07-20,W4_mobile,101428,5442164,2017-07-20,17.5912,13349100
654,5789923,2017-08-12,W4_mobile,101428,5789923,2017-08-12,8.7912,13761181
655,5789923,2017-08-12,W4_mobile,101428,5789923,2017-08-12,39.5912,13761443
656,5789923,2017-08-12,W4_mobile,101428,5789923,2017-08-12,39.5912,13762010
...,...,...,...,...,...,...,...,...
204942,5987348,2017-08-23,Primedemand,retargeting_link1,5987348,2017-08-23,131.9912,13993155
204953,6032142,2017-08-26,Primedemand,retargeting_link1,6032142,2017-08-26,2.6312,14054260
205079,6136226,2017-09-01,Primedemand,retargeting_link1,6136226,2017-09-01,2.6312,14188340
205080,6136226,2017-09-01,Primedemand,retargeting_link1,6136226,2017-09-01,17.5912,14189666
205081,6136226,2017-09-01,Primedemand,retargeting_link1,6136226,2017-09-01,61.5912,14190993
205122,6185368,2017-09-04,Primedemand,retargeting_link1,6185368,2017-09-04,2.6312,14254522
205161,6289249,2017-09-11,Primedemand,retargeting_link1,6289249,2017-09-11,2.6312,14397264
205162,6289249,2017-09-11,Primedemand,retargeting_link1,6289249,2017-09-11,61.5912,14397521
205170,6333714,2017-09-13,Primedemand,retargeting_link1,6333714,2017-09-13,2.6312,23940252
205175,6389528,2017-09-17,Primedemand,retargeting_link1,6389528,2017-09-17,8.7912,23989540
205176,6389528,2017-09-17,Primedemand,retargeting_link1,6389528,2017-09-17,61.5912,23988871
205211,4703729,2017-06-06,Primedemand_mobile,retargeting_link1,4703729,2017-06-06,2.6312,12555570
205217,5065086,2017-06-26,Primedemand_mobile,retargeting_link1,5065086,2017-06-26,8.7912,12865278
205376,6933661,2017-10-18,FB,signup,6933661,2017-10-18,2.6312,25769511
205377,6933661,2017-10-18,FB,signup,6933661,2017-10-18,39.5912,25771767
205382,7391538,2017-11-24,FB,signup,7391538,2017-11-24,2.6312,26259088
205383,7391538,2017-11-24,FB,signup,7391538,2017-11-24,39.5912,26258953
205384,7391538,2017-11-24,FB,signup,7391538,2017-11-24,17.5912,26260725
205385,7391538,2017-11-24,FB,signup,7391538,2017-11-24,17.5912,26260422
205386,7391538,2017-11-24,FB,signup,7391538,2017-11-24,17.5912,26262855
205387,7469791,2017-11-30,FB,signup,7469791,2017-11-30,2.6312,26381527
205389,6925579,2017-10-17,FB,signup,6925579,2017-10-17,8.7912,25759391
205390,6925579,2017-10-17,FB,signup,6925579,2017-10-17,39.5912,25759368
205430,5195781,2017-07-03,FB,support,5195781,2017-07-03,2.6312,13001219
205433,6740454,2017-10-03,1020_mobile,tabl4003,6740454,2017-10-03,2.6312,25564894
205434,6740454,2017-10-03,1020_mobile,tabl4003,6740454,2017-10-03,61.5912,25566272
205435,6740454,2017-10-03,1020_mobile,tabl4003,6740454,2017-10-03,61.5912,25566942
205444,7138288,2017-11-05,ts_usa,TS_VB_USA_Desk_300x250,7138288,2017-11-05,2.6312,25972568
205485,7467933,2017-11-30,ts_usa_mob,TS_VB_USA_Mob_300x100_xhamster,7467933,2017-11-30,2.6312,26380826
205495,6312088,2017-09-12,tf_usa_mob,TX,6312088,2017-09-12,8.7912,23924662

In [57]:
df2 = df[['id_partner', 'name', 'Amount']].groupby(['id_partner', 'name'], as_index=False).sum()

In [72]:
df3 = pd.merge(campaign_cost, df2, left_on=['id_partner', 'campaign'], right_on=['id_partner', 'name']).sort_values('Costs')

In [84]:
df3 = df3.assign(ROI=df3['Amount'] / df3['Costs'] - 1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 781 entries, 173 to 522
Data columns (total 6 columns):
id_partner    781 non-null object
campaign      781 non-null object
Costs         781 non-null float64
name          781 non-null object
Amount        781 non-null float64
ROI           781 non-null float64
dtypes: float64(3), object(3)
memory usage: 42.7+ KB

In [87]:
df3

,id_partner,campaign,Costs,name,Amount,ROI
173,3033,19,0.000000,19,5.2624,inf
220,Alex_mobile,112,0.000000,112,40.4448,inf
174,3033,29,0.000000,29,2.6312,inf
176,3033,81,0.000000,81,339.6008,inf
175,3033,62,0.000000,62,2.6312,inf
87,1020_mobile,tabl4003,3.800000,tabl4003,125.8136,32.108842
153,1020n,l84,4.000000,l84,8.7912,1.197800
102,1020n,l12459,4.000000,l12459,26.3824,5.595600
75,1020_mobile,l12062,4.000000,l12062,26.3824,5.595600
162,1020n,l9719,4.000000,l9719,2.6312,-0.342200
52,1020,l6507,5.000000,l6507,2.6312,-0.473760
48,1020,l5281,5.000000,l5281,2.6312,-0.473760
126,1020n,l3041,5.000000,l3041,8.7912,0.758240
18,1020,l12212,5.000000,l12212,2.6312,-0.473760
115,1020n,l1535,8.000000,l1535,2.6312,-0.671100
262,Clickbooth_US,1595,10.000000,1595,42.2224,3.222240
7,1020,l10263,10.000000,l10263,2.6312,-0.736880
6,1020,l10220,10.000000,l10220,25.4848,1.548480
449,Matomy_mobile,769966,10.000000,769966,2.6312,-0.736880
751,spheredigital,642656646,10.000000,642656646,2.6312,-0.736880
752,spheredigital,642897227,10.000000,642897227,35.1648,2.516480
36,1020,l3709,10.000000,l3709,2.6312,-0.736880
666,email_partner1,820261,10.000000,820261,2.6312,-0.736880
753,spheredigital,643818190,10.000000,643818190,101.1560,9.115600
386,Matomy_internal,761827,10.000000,761827,20.2224,1.022240
69,1020_mobile,l10157,12.000000,l10157,2.6312,-0.780733
145,1020n,l6690,12.000000,l6690,2.6312,-0.780733
468,Primedemand,chess501_270007_77680000080,12.000000,chess501_270007_77680000080,26.3824,1.198533
564,Yepads_mobile,10256,16.500000,10256,8.7912,-0.467200
134,1020n,l424,18.000000,l424,2.6312,-0.853822
...,...,...,...,...,...,...
350,DBM_UK_mob,3414390,35611.597907,3414390,298.2408,-0.991625
257,Clickbooth,30590,35777.000000,30590,539.2112,-0.984929
712,rt_bing,Bing_RT_Tier1_Mob_S_Key_Gen_Dating_Site,35779.690000,Bing_RT_Tier1_Mob_S_Key_Gen_Dating_Site,282.9992,-0.992091
165,29,820096,36290.000000,820096,180.2856,-0.995032
624,cpamatica_valid,16862,37079.000000,16862,531.2120,-0.985674
400,Matomy_mobile,650602,37546.000000,650602,92.3296,-0.997541
475,Primedemand,retargeting_link1,40488.000000,retargeting_link1,409.9040,-0.989876
646,email_partner1,820106,41460.000000,820106,289.3968,-0.993020
601,cpamatica_email,18386,42525.000000,18386,728.2264,-0.982875
526,W4_mobile,107669,46822.000000,107669,298.2144,-0.993631
605,cpamatica_email,19612,49327.000000,19612,536.5360,-0.989123
606,cpamatica_mix,19612,49980.000000,19612,60.6584,-0.998786
600,cpamatica_email,18102,49986.000000,18102,427.4072,-0.991449
359,DBM_mob,3270657,57908.742118,3270657,371.1752,-0.993590
246,CPAmatica_email_mobile,18386,59560.000000,18386,369.3184,-0.993799
658,email_partner1,820148,62447.000000,820148,733.0664,-0.988261
585,bing,Bing_VH_Tier1_S_Key_Russian,64891.240000,Bing_VH_Tier1_S_Key_Russian,593.3664,-0.990856
650,email_partner1,820128,76850.000000,820128,856.5920,-0.988854
251,CPAmatica_email_mobile,19612,77823.000000,19612,359.6208,-0.995379
645,email_partner1,820097,79000.000000,820097,1286.7184,-0.983712
245,CPAmatica_email_mobile,18102,79878.000000,18102,449.3456,-0.994375
393,Matomy_mobile,542731,80206.000000,542731,606.8920,-0.992433
665,email_partner1,820212,86620.000000,820212,674.6696,-0.992211
284,DBM,3240637,88387.339587,3240637,478.3944,-0.994588
460,MundoMedia_non_adult_valid,CD39289,92134.000000,CD39289,1629.2936,-0.982316
550,W4_non_adult_valid,107456,100414.000000,107456,1150.4680,-0.988543
642,email_partner1,820003,106138.000000,820003,370.1016,-0.996513
163,14186,14186,107550.000000,14186,6481.6136,-0.939734
644,email_partner1,820096,220870.500000,820096,3480.5936,-0.984241
522,W4_mobile,107456,254041.000000,107456,2625.2952,-0.989666