In [14]:
def recurseadd(test):
    if test:
        return [test[0] + 1] + recurseadd(test[1:])
    else:
        return test
    
test = [1,2,3]
test = recurseadd(test)
test

[2, 3, 4]

In [1]:
import pandas as pd
import numpy as np

In [16]:
df_1 = pd.DataFrame({'col_1':[1, 2, 3, 4, 5],
                    'col_2':['a', 'b', 'c', 'd', 'e']})
df_2 = pd.DataFrame({'col_3':['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e'],
                    'col_4':[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})

In [17]:
df_1

   col_1 col_2
0      1     a
1      2     b
2      3     c
3      4     d
4      5     e

In [18]:
df_2

  col_3  col_4
0     a      1
1     b      2
2     c      3
3     d      4
4     e      5
5     a      6
6     b      7
7     c      8
8     d      9
9     e     10

In [19]:
df_2.groupby('col_3', as_index=False).sum()

  col_3  col_4
0     a      7
1     b      9
2     c     11
3     d     13
4     e     15

In [20]:
df = pd.DataFrame.merge(df_1, df_2[df_2['col_4'] > 1], left_on = ['col_2'], right_on = ['col_3'])
df = df[df.col_1 == df.col_4]
# .groupby('col_2', as_index=False)['col_2','col_4'].sum()
df

   col_1 col_2 col_3  col_4
1      2     b     b      2
3      3     c     c      3
5      4     d     d      4
7      5     e     e      5

In [21]:
df_1['col_1'] += 1

In [16]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['A', 'B'])
df['date'] = pd.to_datetime(['21-11-2013', '22-11-2013'])
df

   A  B       date
0  1  2 2013-11-21
1  3  4 2013-11-22

In [42]:
df['date'] += pd.DateOffset(6)
df

   A  B       date
0  1  2 2013-11-27
1  3  4 2013-11-28

In [43]:
df[df['A'] < df['B']]

   A  B       date
0  1  2 2013-11-27
1  3  4 2013-11-28

In [44]:
df[(df['A'] + 1) <= df['B']]

   A  B       date
0  1  2 2013-11-27
1  3  4 2013-11-28

In [17]:
df2 = df.copy()
df2['date_3'] = df['date'] +  pd.DateOffset(0)
df2

   A  B       date     date_3
0  1  2 2013-11-21 2013-11-21
1  3  4 2013-11-22 2013-11-22

In [6]:
df

   A  B       date     date_2
0  1  2 2013-11-21 2013-11-21
1  3  4 2013-11-22 2013-11-22

In [11]:
df2

   A  B       date     date_2     date_3
0  1  2 2013-11-21 2013-11-21 2013-11-21
1  3  4 2013-11-22 2013-11-22 2013-11-22

In [18]:
def change(df):
    return df.merge()
    
df = change(df)
df

   A  B_x     date_x  B_y     date_y     date_3
0  1    2 2013-11-21    2 2013-11-21 2013-11-21
1  3    4 2013-11-22    4 2013-11-22 2013-11-22

In [34]:
df[(df['date'] + pd.DateOffset(0)) == df['date_2']]

   A  B       date     date_2
0  1  2 2013-11-27 2013-12-03
1  3  4 2013-11-28 2013-12-04

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
A         2 non-null int64
B         2 non-null int64
date      2 non-null datetime64[ns]
date_2    2 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(2)
memory usage: 144.0 bytes

In [ ]:
df[df['Reg_date']  == df['Order Date']]

In [25]:
def recursion_print(x):
    try:
        element = next(x)
        print(element)
        recursion_print(x)
    except StopIteration:
        pass
    
recursion_print(iter([1,2,3,4,5]))

1
2
3
4
5

In [26]:
def action_recursive(x, action):
    try:
        elem = next(x)
        action(elem)
        action_recursive(x, action)
    except StopIteration:
        pass
    
action_recursive(iter([1, 2, 3, 4, 5]), lambda x: print(x))

1
2
3
4
5